In [2]:
import pandas as pd
import numpy

In [16]:
df = pd.read_csv('student_resource 3/dataset/sample_test.csv')

In [17]:
df.describe()

           index       group_id
count  88.000000      88.000000
mean   43.500000  570185.079545
std    25.547342  253075.926535
min     0.000000  124643.000000
25%    21.750000  349157.000000
50%    43.500000  606638.000000
75%    65.250000  752266.000000
max    87.000000  997176.000000

In [7]:
df['group_id'].value_counts()

group_id
525429    6
648011    5
752266    4
983323    4
701880    4
483370    3
683885    3
200507    3
860821    3
997176    2
178778    2
640565    2
442321    2
276700    2
658003    2
219211    2
254962    2
529489    2
603688    2
318770    2
695925    2
140266    2
609588    2
759408    2
359286    1
487566    1
965518    1
939426    1
993359    1
150535    1
969033    1
311997    1
124643    1
564709    1
411423    1
452717    1
362818    1
844474    1
916768    1
296366    1
507467    1
816782    1
180726    1
275506    1
721522    1
240413    1
805279    1
Name: count, dtype: int64

In [ ]:
d

In [23]:

df[df['group_id'] == 648011]

,index,image_link,group_id,entity_name
6,6,https://m.media-amazon.com/images/I/41nblnEkJ3...,648011,voltage
7,7,https://m.media-amazon.com/images/I/41nblnEkJ3...,648011,wattage
39,39,https://m.media-amazon.com/images/I/51fAzxNm+c...,648011,width
40,40,https://m.media-amazon.com/images/I/51fAzxNm+c...,648011,depth
41,41,https://m.media-amazon.com/images/I/51fAzxNm+c...,648011,height

# Co relation analysis - train

In [37]:
train_df = pd.read_csv('student_resource 3/dataset/train.csv')
test_df = pd.read_csv('student_resource 3/dataset/test.csv')

In [48]:
train_df['entity_name'].unique()

array(['item_weight', 'item_volume', 'voltage', 'wattage',
       'maximum_weight_recommendation', 'height', 'depth', 'width'],
      dtype=object)

In [41]:
train_groups = set(train_df['group_id'].unique())
test_groups = set(test_df['group_id'].unique())

In [42]:
print(len(train_groups))
print(len(test_groups))

750
924

In [43]:
overlap = list(train_groups.intersection(test_groups))

In [45]:
print(len(overlap))

638

In [31]:
train_df['entity_value'].str.split(' ').str[0]

0         500.0
1           1.0
2         0.709
3         0.709
4          1400
          ...
263854      5.0
263855      8.5
263856     43.2
263857      9.1
263858     27.5
Name: entity_value, Length: 263859, dtype: object